@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Queue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstanceFileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskIndex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Log)
        </td>
    </tr>
}